{% extends 'base.html.twig' %}

{% block title %}
    {{ interface["error_page.title"] }}
{% endblock %}

{% block styles %}{% endblock %}

{% block content %}
    <section class="hero is-info is-fullheight">
        {% include 'embed/header.html.twig' %}

        <div class="hero-body">
            <div class="container">
                <div class="column is-6 is-offset-3">
                    <div class="box">
                        {{ interface["error_page.form_header_404"] }}
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}

{% block javascript %}{% endblock %}