<footer class="footer" style="background-color: transparent;">
    <div class="container">
        <div class="content has-text-centered">
            <div class="columns is-mobile is-centered has-text-grey-light">
                {{ interface["footer.choose_language"] }}:&nbsp;
                <img src="{{ hostWithScheme }}/public/images/uk.png" style="width: 25px; height: 30px; cursor: pointer;" onclick="setDefaultLanguage('en')"> &nbsp;/&nbsp;
                <img src="{{ hostWithScheme }}/public/images/russia.png" style="width: 25px; height: 30px; cursor: pointer;" onclick="setDefaultLanguage('ru')">
            </div>
        </div>
    </div>
</footer>

<script>
    function setDefaultLanguage(value) {
        // FOR PRODUCTION DOMAIN
        //var myDate = new Date();
        //myDate.setMonth(myDate.getMonth() + 1);
        //document.cookie = "defaultLanguage=" + value + ";domain=." + window.location.hostname + ";path=/;expires=" + myDate;
        //document.cookie = "defaultLanguage=" + value + ";domain=." + window.location.hostname + ";path=/;expires=" + myDate;

        // FOR LOCAL DOMAIN (FOR INSTANCE '*.develop')
        document.cookie = "defaultLanguage=" + value;
        document.location.reload();
    }
</script>