{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block styles %}{% endblock %}

{% block content %}
    <section class="hero is-info is-fullheight">
        {% include 'embed/header.html.twig' %}

        <div class="hero-body">
            <div class="container">
                <div class="column is-6 is-offset-3">
                    <h1 class="title">
                        {{ interface["about_page.form_header"] }}
                    </h1>
                    <div class="box">
                        Project was created with:<br/>
                        PHP7.1, MySQL, Twig, Composer, Bulma, VueJS
                        <br/>
                        <br/>
                        Created by TheNostromo.
                        <br/>
                        <br/>
                        GitHub: <a href="https://github.com/thenostromo/RegFormProject">https://github.com/thenostromo/RegFormProject</a>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}

{% block javascript %}{% endblock %}