{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block styles %}{% endblock %}

{% block content %}
    <section class="hero is-info is-fullheight">
        {% include 'embed/header.html.twig' %}

        <div class="hero-body">
            <div class="container">
                <div class="column is-6 is-offset-3">
                    <h1 class="title">
                        About project
                    </h1>
                    <div class="box">
                        Hello!
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}

{% block javascript %}{% endblock %}