{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block styles %}{% endblock %}

{% block content %}
    <section class="hero is-info is-fullheight">
        {% include 'embed/header.html.twig' %}

        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-6 is-offset-3">
                    <h1 class="title">
                        Welcome!
                    </h1>
                    <h2 class="subtitle">
                        Here you can try to create account and log in to the project. Upload your image, use validation and edit your profile. Enjoy!
                    </h2>
                    <div class="buttons is-centered">
                        <a href="login">
                            <button class="button is-success">
                                <i class="fa fa-lock"></i>&nbsp;Sign in
                            </button>
                        </a>
                        <a href="registration">
                            <button class="button is-danger">
                                <i class="fa fa-users"></i>&nbsp;Sign up
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}

{% block javascript %}{% endblock %}